<div class="container mt-5">
  <div class="row mt-5 ">
    <div class="col-md-7 offset-3 mt-5">
        <div class="row ">
            <div class="col-md-3 ">
                <img src="assets/form-avatar.png" class="form-avatar rounded w-75" alt="Solex-Avatar">
        
            </div>
        
            <div class="col-md-6 ">
              <h4>Your Activity Request is Submitted Successfully !</h4>
              <p-button
                label=" Submit Another Request "
                severity="help"
                routerLink="/request"
                [rounded]="true"
              />
            </div>
        </div>
    </div>
   
  </div>
</div>
