<div class="container mt-5 p-3">

<div class="col-md-6 offset-md-3">
    <img src="assets/form-avatar.png" class="form-avatar rounded" alt="Solex-Avatar">
    <h3>Activity Request Form</h3>
    <p class="fw-bold">Notes:</p>
    <div class="WFH rounded mb-2">
        <span class="fw-bold span-fs">WFH Request = </span>
        <span class="span-fs">Request at least 1 day before 🏠</span>
        <p class="mt-1 span-fs">Please assign: 
            <span class="fw-bold span-bg p-2 rounded span-fs">TL</span>
        </p>
    </div>
    <div class="Ann-leave rounded mb-2">
        <span class="fw-bold span-fs">Short Annual leave
        </span>
        <span class="span-fs">(less than 5 Days) = Request at least 2 Days before</span>
        <div>
            <span class="fw-bold span-fs">Long Annual leave
            </span>
            <span class="span-fs">(5 Days or more) = Request at least 1 Month before 🏖️</span>
        </div>
        <p class="mt-2 span-fs">Please assign: 
            <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
            <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
        </p>
    </div>
    <div class="emerg-leave rounded mb-2">
        <span class="fw-bold span-fs">Emergency Leave = </span>
        <span class="span-fs"> Could be on the same day 🦺</span>
        <p class="mt-2 span-fs">Please assign: 
            <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
            <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
        </p>
    </div>
    <div class="sick-leave rounded mb-2">
        <span class="fw-bold span-fs">Sick Leave = </span>
        <span class="span-fs">  Kindly attach the perception 😷💊</span>
        <p class="mt-2 span-fs">Please assign: 
            <span class="fw-bold span-bg3 p-2 rounded span-fs">Heba Raslan</span> ,
            <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
            <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
        </p>
    </div>
    <div class="Marriage-leave rounded mb-2">
        <span class="fw-bold span-fs">Marriage Leave = </span>
        <span class="span-fs"> Request at least 1 Month before  👰🤵‍♂️ </span>
        <p class="mt-2 span-fs">Please assign: 
            <span class="fw-bold span-bg3 p-2 rounded span-fs">Heba Raslan</span> ,
            <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
            <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
        </p>
    </div>
    <div class="Maternity-leave rounded mb-2">
        <span class="fw-bold span-fs">Maternity Leave = </span>
        <span class="span-fs"> 90 Days (45+45) 👼
            <p class="span-fs">Request at least 4 Months before</p>
        </span>
        <p class="mt-2 span-fs">Please assign: 
            <span class="fw-bold span-bg3 p-2 rounded span-fs">Heba Raslan</span> ,
            <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
            <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
        </p>
    </div>
    <div class="BereavOmra-leave rounded mb-2">
        <span class="fw-bold span-fs">Bereavement Leave = </span>
        <span class="span-fs"> 
            <ul>
                <li>1 Day for second level relatives 💔</li>
                <li>3 Days for first level relatives 💔</li>
            </ul>
        </span>
        <p class="mt-2 span-fs">Please assign: 
            <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
            <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
        </p>
    </div>
    <div class="BereavOmra-leave  rounded mb-2">
        <span class="fw-bold span-fs">Omra and Haj Leave  = </span>
        <span class="span-fs"> Request at least 1 Month before </span>
        <p class="mt-2 span-fs">Please assign: 
            <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
            <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
        </p>
    </div>
</div>