<div class="container mt-1 p-2">
    <p-toast/>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="mt-5" [formGroup]="appForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 mb-3 ">
                        <label for="name">
                            <span class=" mb-2 text-sm font-medium text-gray-900">Full Name </span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="" id="name" class="bg-slate-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="Enter Full Name" formControlName="fullName">
                        <p class="error" *ngIf="appForm.get('fullName')?.invalid && appForm.controls.fullName.touched">Full Name is Required</p>
                    </div>
                    <div class="col-md-6 ">
                        <label for="req">
                            <span class="mb-2 text-sm font-medium text-gray-900">Requested by</span>
                            <span class="text-red-700">*</span>
                        </label>
                           <input
                              type="text"
                              placeholder="Search or enter email..."
                              class="bg-slate-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                              [matAutocomplete]="auto"
                              formControlName="reqBy"
                            />
                            <p class="error" *ngIf="appForm.get('reqBy')?.invalid && appForm.get('reqBy')?.touched">Please Select Yourself</p>

                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let user of users " [value]="user.name">
                                <mat-chip-listbox>
                                    {{ user.name }}
                                </mat-chip-listbox>
                              </mat-option>
                            </mat-autocomplete>
                        </div>


                </div>
               <div class="row mt-4">
                <div class="col-md-6 mb-3">
                    <label for="Activity">
                        <span class="mb-2 text-sm font-medium text-gray-900">Activity Type </span>
                        <span class="text-red-700">*</span>
                    </label>
                    <input
                    type="text"
                    placeholder="Choose Activity Type..."
                    class="bg-slate-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    [matAutocomplete]="autoAct"
                    formControlName="activityType"
                  />
                  <p class="error" *ngIf="appForm.get('activityType')?.invalid && appForm.get('activityType')?.touched">Please Select Activity Type</p>

                   <div class="d-flex justify-content-center ">
                      <mat-autocomplete #autoAct="matAutocomplete">
                        <mat-option *ngFor="let activity of activities" [value]="activity">
                          <mat-chip-listbox>
                            {{activity}}
                          </mat-chip-listbox>
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                        
                </div>
                <div class="col-md-6">
                    <label for="name">
                        <span class="mb-2 text-sm font-medium text-gray-900"> Duration (Days) </span>
                        <span class="text-red-700">*</span>
                    </label>
                    <input formControlName="duration" type="text" name="" 
                    id="" 
                    class="bg-slate-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    placeholder="Enter Number">
                    <p class="error" *ngIf="appForm.get('duration')?.invalid && appForm.get('duration')?.touched">Please enter number of days</p>

                </div>
               </div>
               <div class="row mt-4">
                <div class="col-md-6 mb-3">

                    <label for="start">
                        <span class="fw-bold span-fs"> Start Date </span>
                        <span class="text-danger">*</span>
                    </label>
                    <div class="relative max-w-sm">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                          </svg>
                        </div>
                        <input datepicker id="default-datepicker" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                      </div>
                    <p class="error" *ngIf="appForm.get('startDate')?.invalid && appForm.get('startDate')?.touched">Please Enter The Start Date</p>

                </div>
                <div class="col-md-6">
                    <label for="end">
                        <span class="fw-bold span-fs"> Due Date </span>
                        <span class="text-danger">*</span>
                    </label>
                    <div>
                        <p-calendar formControlName="endDate" placeholder="Select Due Date ..." [dateFormat]="'dd/mm/yy'"/>
                    </div>
                    <p class="error" *ngIf="appForm.get('endDate')?.invalid && appForm.get('endDate')?.touched ">Please Enter The End Date</p>

                </div>
                </div> 
                <div class="row mt-4">
                    <div class="col-md-6 mb-3">
                        <label for="req">
                            <span class="fw-bold span-fs">Modules</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input
                        type="text"
                        formControlName="module"
                        placeholder="Search or enter email..."
                        class="form-control"
                        [matAutocomplete]="automod"
                      />
                      <p class="error" *ngIf="appForm.get('module')?.invalid && appForm.get('module')?.touched">Please Select module</p>

                      <mat-autocomplete #automod="matAutocomplete">
                        <mat-option *ngFor="let option of options " [value]="option">
                          <mat-chip-listbox>
                              {{ option }}
                          </mat-chip-listbox>
                        </mat-option>
                      </mat-autocomplete>
                          
                    </div>
                    <div class="col-md-6">
                        <label for="req">
                            <span class="fw-bold span-fs">Add approvers (PM's,TL's)</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input
                        type="text"
                        placeholder="Search or enter email..."
                        class="form-control"
                        formControlName="approvers"
                        [matAutocomplete]="autoapp"
                      />
                      <p class="error" *ngIf="appForm.get('approvers')?.invalid && appForm.get('approvers')?.touched">Please Select approvers</p>

                      <mat-autocomplete #autoapp="matAutocomplete">
                        <mat-option *ngFor="let approver of approver " [value]="approver">
                          <mat-chip-listbox>
                              {{ approver }}
                          </mat-chip-listbox>
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 mb-3">
                        <label for="tasks">
                            <span class="fw-bold span-fs">Tasks delegated while out of office to</span>
                        </label>
                           <input
                              type="text"
                              placeholder="Search or enter email..."
                              class="form-control"
                              formControlName="taskDele"
                              [matAutocomplete]="autoTask"
                            
                            />
                            <mat-autocomplete #autoTask="matAutocomplete">
                              <mat-option *ngFor="let users of delUsers " [value]="users">
                                <mat-chip-listbox>
                                    {{ users }}
                                </mat-chip-listbox>
                              </mat-option>
                            </mat-autocomplete>
                          
                    </div>
                    <div class="col-md-6">
                        <label for="tasks">
                            <span class="fw-bold span-fs">Attachment when sick leave requested</span>
                        </label>
                    <!-- <input class="form-control" type="file" id="formFile" formControlName="attachSickLeave"> -->
                     
                    </div>
                </div>
                <div class="row mt-4">
                    <label for="tasks">
                        <span class="fw-bold span-fs mb-3">Add notes if needed</span>
                    </label>
                    <textarea pInputTextarea placeholder="Enter Text" class="ms-2 mt-2" formControlName="notes"></textarea>
             
            </div>
            <div class="row mt-4">
                <button type="submit" class="btn btn-primary d-flex justify-content-center">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>