<div class="container mt-5 p-3">
    <p-toast/>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img src="assets/form-avatar.png" class="form-avatar rounded" alt="Solex-Avatar">
            <h3>Activity Request Form</h3>
            <p class="fw-bold">Notes:</p>
            <div class="WFH rounded mb-2">
                <span class="fw-bold span-fs">WFH Request = </span>
                <span class="span-fs">Request at least 1 day before 🏠</span>
                <p class="mt-1 span-fs">Please assign: 
                    <span class="fw-bold span-bg p-2 rounded span-fs">TL</span>
                </p>
            </div>
            <div class="Ann-leave rounded mb-2">
                <span class="fw-bold span-fs">Short Annual leave
                </span>
                <span class="span-fs">(less than 5 Days) = Request at least 2 Days before</span>
                <div>
                    <span class="fw-bold span-fs">Long Annual leave
                    </span>
                    <span class="span-fs">(5 Days or more) = Request at least 1 Month before 🏖️</span>
                </div>
                <p class="mt-2 span-fs">Please assign: 
                    <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
                    <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
                </p>
            </div>
            <div class="emerg-leave rounded mb-2">
                <span class="fw-bold span-fs">Emergency Leave = </span>
                <span class="span-fs"> Could be on the same day 🦺</span>
                <p class="mt-2 span-fs">Please assign: 
                    <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
                    <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
                </p>
            </div>
            <div class="sick-leave rounded mb-2">
                <span class="fw-bold span-fs">Sick Leave = </span>
                <span class="span-fs">  Kindly attach the perception 😷💊</span>
                <p class="mt-2 span-fs">Please assign: 
                    <span class="fw-bold span-bg3 p-2 rounded span-fs">Heba Raslan</span> ,
                    <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
                    <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
                </p>
            </div>
            <div class="Marriage-leave rounded mb-2">
                <span class="fw-bold span-fs">Marriage Leave = </span>
                <span class="span-fs"> Request at least 1 Month before  👰🤵‍♂️ </span>
                <p class="mt-2 span-fs">Please assign: 
                    <span class="fw-bold span-bg3 p-2 rounded span-fs">Heba Raslan</span> ,
                    <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
                    <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
                </p>
            </div>
            <div class="Maternity-leave rounded mb-2">
                <span class="fw-bold span-fs">Maternity Leave = </span>
                <span class="span-fs"> 90 Days (45+45) 👼
                    <p class="span-fs">Request at least 4 Months before</p>
                </span>
                <p class="mt-2 span-fs">Please assign: 
                    <span class="fw-bold span-bg3 p-2 rounded span-fs">Heba Raslan</span> ,
                    <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
                    <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
                </p>
            </div>
            <div class="BereavOmra-leave rounded mb-2">
                <span class="fw-bold span-fs">Bereavement Leave = </span>
                <span class="span-fs"> 
                    <ul>
                        <li>1 Day for second level relatives 💔</li>
                        <li>3 Days for first level relatives 💔</li>
                    </ul>
                </span>
                <p class="mt-2 span-fs">Please assign: 
                    <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
                    <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
                </p>
            </div>
            <div class="BereavOmra-leave  rounded mb-2">
                <span class="fw-bold span-fs">Omra and Haj Leave  = </span>
                <span class="span-fs"> Request at least 1 Month before </span>
                <p class="mt-2 span-fs">Please assign: 
                    <span class="fw-bold span-bg p-2 rounded span-fs">TL</span> ,
                    <span class="fw-bold span-bg2 p-2 rounded span-fs">PM</span>
                </p>
            </div>
            <form class="mt-5" [formGroup]="appForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 mb-3 ">
                        <label for="name">
                            <span class="fw-bold span-fs">Full Name </span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="" id="" class="form-control" placeholder="Enter Full Name" formControlName="fullName">
                        <p class="error" *ngIf="appForm.get('fullName')?.invalid && appForm.controls.fullName.touched">Full Name is Required</p>
                    </div>
                    <div class="col-md-6 ">
                        <label for="req">
                            <span class="fw-bold span-fs">Requested by</span>
                            <span class="text-danger">*</span>
                        </label>
                           <input
                              type="text"
                              placeholder="Search or enter email..."
                              class="form-control"
                              [matAutocomplete]="auto"
                              formControlName="reqBy"
                            />
                            <p class="error" *ngIf="appForm.get('reqBy')?.invalid && appForm.get('reqBy')?.touched">Please Select Yourself</p>

                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let user of users " [value]="user.name">
                                <mat-chip-listbox>
                                    {{ user.name }}
                                </mat-chip-listbox>
                              </mat-option>
                            </mat-autocomplete>
                        </div>


                </div>
               <div class="row mt-4">
                <div class="col-md-6 mb-3">
                    <label for="Activity">
                        <span class="fw-bold span-fs">Activity Type </span>
                        <span class="text-danger">*</span>
                    </label>
                    <!-- <div class="dropdown">                 
                        <input formControlName="activityType" type="text" class="form-control dropdown-toggle" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="true" placeholder="Choose Activity Type...">
                        <ul class="dropdown-menu p-2">
                          <li><button class="dropdown-item rounded text-white WFH-bg text-center mb-2  span-fs" type="button">WFH Request</button></li>
                          <li><button class="dropdown-item  rounded text-white ex-WFH-bg text-center mb-2   span-fs" type="button">Extra WFH Request</button></li>
                          <li><button class="dropdown-item  rounded  border text-center mb-2   span-fs" type="button">Customer Visit</button></li>
                          <li><button class="dropdown-item  rounded text-white em-bg text-center mb-2   span-fs" type="button">Emergency Leave</button></li>
                          <li><button class="dropdown-item  rounded  sic-bg text-center mb-2   span-fs" type="button">Sick Leave</button></li>
                          <li><button class="dropdown-item  rounded text-white mar-bg text-center mb-2   span-fs" type="button">Marriage Leave</button></li>
                          <li><button class="dropdown-item  rounded text-white mat-bg text-center mb-2   span-fs" type="button">Maternity Leave</button></li>
                          <li><button class="dropdown-item  rounded text-white bg-black text-center mb-2   span-fs" type="button">Bereavement Leave</button></li>
                          <li><button class="dropdown-item  rounded text-white omra-bg text-center mb-2   span-fs" type="button">Omra Leave</button></li>
                          <li><button class="dropdown-item  rounded text-white omra-bg text-center mb-2   span-fs" type="button">Haj Leave</button></li>
                        </ul>
                    </div> -->
                    <input
                    type="text"
                    placeholder="Choose Activity Type..."
                    class="form-control"
                    [matAutocomplete]="autoAct"
                    formControlName="activityType"
                  />
                  <p class="error" *ngIf="appForm.get('activityType')?.invalid && appForm.get('activityType')?.touched">Please Select Activity Type</p>

                   <div class="d-flex justify-content-center ">
                      <mat-autocomplete #autoAct="matAutocomplete">
                        <mat-option *ngFor="let activity of activities" [value]="activity">
                          <mat-chip-listbox>
                            {{activity}}
                          </mat-chip-listbox>
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                            

                        
                </div>
                <div class="col-md-6">
                    <label for="name">
                        <span class="fw-bold span-fs"> Duration (Days) </span>
                        <span class="text-danger">*</span>
                    </label>
                    <input formControlName="duration" type="text" name="" id="" class="form-control" placeholder="Enter Number">
                    <p class="error" *ngIf="appForm.get('duration')?.invalid && appForm.get('duration')?.touched">Please enter number of days</p>

                </div>
               </div>
               <div class="row mt-4">
                <div class="col-md-6 mb-3">

                    <label for="start">
                        <span class="fw-bold span-fs"> Start Date </span>
                        <span class="text-danger">*</span>
                    </label>
                    <div>
                        <p-calendar placeholder="Select Start Date ... " formControlName="startDate"[dateFormat]="'dd/mm/yy'" />
                    </div>
                    <p class="error" *ngIf="appForm.get('startDate')?.invalid && appForm.get('startDate')?.touched">Please Enter The Start Date</p>

                </div>
                <div class="col-md-6">
                    <label for="end">
                        <span class="fw-bold span-fs"> Due Date </span>
                        <span class="text-danger">*</span>
                    </label>
                    <div>
                        <p-calendar formControlName="endDate" placeholder="Select Due Date ..." [dateFormat]="'dd/mm/yy'"/>
                    </div>
                    <p class="error" *ngIf="appForm.get('endDate')?.invalid && appForm.get('endDate')?.touched ">Please Enter The End Date</p>

                </div>
                </div> 
                <div class="row mt-4">
                    <div class="col-md-6 mb-3">
                        <label for="req">
                            <span class="fw-bold span-fs">Modules</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input
                        type="text"
                        formControlName="module"
                        placeholder="Search or enter email..."
                        class="form-control"
                        [matAutocomplete]="automod"
                      />
                      <p class="error" *ngIf="appForm.get('module')?.invalid && appForm.get('module')?.touched">Please Select module</p>

                      <mat-autocomplete #automod="matAutocomplete">
                        <mat-option *ngFor="let option of options " [value]="option">
                          <mat-chip-listbox>
                              {{ option }}
                          </mat-chip-listbox>
                        </mat-option>
                      </mat-autocomplete>
                          
                    </div>
                    <div class="col-md-6">
                        <label for="req">
                            <span class="fw-bold span-fs">Add approvers (PM's,TL's)</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input
                        type="text"
                        placeholder="Search or enter email..."
                        class="form-control"
                        formControlName="approvers"
                        [matAutocomplete]="autoapp"
                      />
                      <p class="error" *ngIf="appForm.get('approvers')?.invalid && appForm.get('approvers')?.touched">Please Select approvers</p>

                      <mat-autocomplete #autoapp="matAutocomplete">
                        <mat-option *ngFor="let approver of approver " [value]="approver">
                          <mat-chip-listbox>
                              {{ approver }}
                          </mat-chip-listbox>
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 mb-3">
                        <label for="tasks">
                            <span class="fw-bold span-fs">Tasks delegated while out of office to</span>
                        </label>
                           <input
                              type="text"
                              placeholder="Search or enter email..."
                              class="form-control"
                              formControlName="taskDele"
                              [matAutocomplete]="autoTask"
                            
                            />
                            <mat-autocomplete #autoTask="matAutocomplete">
                              <mat-option *ngFor="let users of delUsers " [value]="users">
                                <mat-chip-listbox>
                                    {{ users }}
                                </mat-chip-listbox>
                              </mat-option>
                            </mat-autocomplete>
                          
                    </div>
                    <div class="col-md-6">
                        <label for="tasks">
                            <span class="fw-bold span-fs">Attachment when sick leave requested</span>
                        </label>
                    <input class="form-control" type="file" id="formFile" formControlName="attachSickLeave">
                    </div>
                </div>
                <div class="row mt-4">
                    <label for="tasks">
                        <span class="fw-bold span-fs mb-3">Add notes if needed</span>
                    </label>
                    <textarea pInputTextarea placeholder="Enter Text" class="ms-2 mt-2" formControlName="notes"></textarea>
             
            </div>
            <div class="row mt-4">
                <button type="submit" class="btn btn-primary d-flex justify-content-center">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>